<div id="componenteBuscar">
    <label for="">Entidad: </label>        
    <select id="entidad">
        <option value="Edesur">Edesur</option>
        <option value="Metrogas">Metrogas</option>
        <option value="Movistar">Movistar</option>
        <option value="Aysa">Aysa</option>
    </select>
    <label for="">Propiedad/Bien: </label>
    <select id="propiedad">
        <option value="PropA">PropA</option>
        <option value="PropB">PropB</option>
        <option value="PropC">PropC</option>
        <option value="PropD">PropD</option>
    </select>
    <label for="">Fecha Pago Desde: </label>
    <input id="fechaPagoDesde" type="date">
    <label for="">Fecha Pago Hasta: </label>
    <input id="fechaPagoHasta" type="date">
    <div id="btnBuscar" class="btn">Buscar</div>
</div>
<div id="opcBuscarRet"></div>