<div id="componenteBuscar">
    
    <label for="">Rol: </label>        
    <select id="entidad">
        <option value="administrador">Administrador</option>
        <option value="empleado">Empleado</option>
    </select>

    <section>
        <form action="">
            <label for="">Nombre:</label>
            <input type="text">
            <label for="">Apellido</label>
            <input type="text">
        </form>
    </section>

    <div id="btnBuscar" class="btn">Guardar</div>
    <div id="btnCancelar" class="btn">Cancelar</div>
</div>
<div id="opcBuscarRet"></div>